.sidebar{
    display: flex;
    flex-direction: column;
    flex: 3;
border-radius: 10px;
    background-color: #fdfbfb;
    padding-bottom: 30px;

}
.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-title{
    margin: 10px;
    padding: 5px;
    width: 80%;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #222;
    line-height: 20px;
    align-items: center;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    text-align: center;
}
.sidebar-item>img{
    margin-top: 15px;
}
.sidebar-item >p{
padding: 30px;
}

.sidebar-list{

    margin-bottom: 30px;
}
.sidebar-list-item{
    list-style: none;
    display: inline-block;
    width: 50%;
    cursor: pointer;
    margin-top: 30px;
}
.sidebar-social{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.sidePics{
    height: 200px;
}
